@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(#F1FAFF,#cbe4ff);
}

.sidebar{
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    overflow: hidden;
    background: #151a2d;
    height: calc(100vh - 32px);
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    color: #151a2d;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler { 
    transform: translate(-4px, 65px);
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}


.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    padding: 12px 15px;
    white-space: nowrap;    
    text-decoration: none;
    transition: 0.4s ease;
}

.sidebar-nav .nav-link:hover {
    color: #151a2d;
    background: #fff;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    display: none;
    top: -10px;
    left: calc(100% + 25px);
    opacity: 0;
    pointer-events: none;
    color: #151a2d;
    padding: 6px 12px;
    border-radius: 8px;
    background: #fff;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto; 
    transform: translateY(50%);
    transition: 0.4s ease;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

div.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
}

#img{
    width: 200px;
    border-radius: 50%;
}


.txt{
    padding-top: 25px;
    padding-left: 25px;
}


